<!-- Include header with breadcrumb for deleted students -->
<ng-include src="'views/partials/header.html'" ng-init="showBreadcrumb=true; breadcrumbText='Deleted Students'"></ng-include>
<!-- Include flash message partial for user feedback -->
<ng-include src="'views/partials/flash-message.html'"></ng-include>
<!-- Include reusable student table with restore and permanent delete options -->
<ng-include src="'views/partials/table-students.html'" ng-init="tableTitle='Deleted Students'; showRestore=true; showPermanentDelete=true"></ng-include>